<h2>Quên mật khẩu</h2>
<form method="post" action="/auth/forgot" class="w-50">
  <div class="mb-3">
    <label class="form-label">Email</label>
    <input name="email" type="email" class="form-control" required>
  </div>
  <button class="btn btn-warning">Gửi yêu cầu</button>
</form>
