<h2>Đăng nhập</h2>
<form method="post" action="/auth/login" class="w-50">
  <div class="mb-3">
    <label class="form-label">Username</label>
    <input name="username" type="text" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input name="password" type="password" class="form-control" required>
  </div>
  <button class="btn btn-success">Đăng nhập</button>
  <a href="/auth/forgot" class="btn btn-link">Quên mật khẩu?</a>
</form>
